.color-1 {background-color: #2e86c1;}
.color-2 {background-color: #e5e8e8;}
.color-3 {background-color: #2e4053;}
.color-4 {background-color: #148f77;}
.color-5 {background-color: #cd6155;}
.color-6 {background-color: #7d3c98;}